{% extends "base.html" %} {% block title %}FoodFinder{% endblock %} {% block
content %} {% with messages = get_flashed_messages() %} {% if messages %}
<div class="flash-messages">
	{% for message in messages %}
	<div class="alert alert-info alert-dismissible fade show" role="alert">
		{{ message }}
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="alert"
			aria-label="Close"
		></button>
	</div>
	{% endfor %}
</div>
{% endif %} {% endwith %}
<h1>Doporučené recepty</h1>
<p>Nechte se inspirovat naším výběřem</p>
<div
	class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center mb-4"
>
	{% for recipe in recipes_featured %} {% include "featured-card.html"%} {%
	endfor %}
</div>

<h1>Nejnovější recepty</h1>
<div id="recipe-list">
	{% for recipe in recipes %} {% include "recipe-card.html" %} {% endfor %}
</div>

<button
	id="load-more"
	class="nav-link btn btn-outline-dark py-2 px-4 mx-auto d-block"
	data-page="1"
	{%
	if
	not
	next_page
	%}hidden{%
	endif
	%}
>
	Načíst další
</button>

<script src="{{url_for('static', filename='js/index.js')}}" defer></script>
<!-- <script>
	setTimeout(function () {
		var alerts = document.querySelectorAll(".alert");
		alerts.forEach(function (alert) {
			var bsAlert = new bootstrap.Alert(alert);
			bsAlert.close();
		});
	}, 5000);

	document.getElementById("load-more").addEventListener("click", function () {
		let button = this;
		let page = parseInt(button.getAttribute("data-page")) + 1;

		fetch(`/?page=${page}`)
			.then((response) => response.text())
			.then((data) => {
				let parser = new DOMParser();
				let doc = parser.parseFromString(data, "text/html");

				let recipeList = document.getElementById("recipe-list");
				let newRecipes = doc.querySelectorAll(".recipe-card");
				newRecipes.forEach((recipe) => {
					recipeList.appendChild(recipe);
				});

				button.setAttribute("data-page", page);

				if (!doc.querySelector("#load-more").hasAttribute("data-page")) {
					button.hidden = true;
				}
			})
			.catch((error) => console.error("Chyba při načítání receptů:", error));
	});

	try {
		const now = new Date();
		let clientHour = now.getHours();

		if (isNaN(clientHour)) {
			throw new Error("Chybný čas");
		}

		fetch(`/?time=${clientHour}`, { method: "GET" })
			.then((response) => response.text())
			.then((data) => console.log(data))
			.catch((error) =>
				console.error("Chyba při odesílání času na server:", error)
			);
	} catch (error) {
		console.warn(
			"Nepodařilo se získat aktuální hodinu, používá se serverový čas."
		);
		fetch(`/?time=NaN`, { method: "GET" });
	}
</script> -->
{%endblock %}
