{% extends "base.html" %} {% block title %}Přihlášení{% endblock %} {% block
content %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/login.css') }}"
/>
<div
	class="container d-flex justify-content-center align-items-center full-height"
>
	<div class="row justify-content-center">
		<div class="col-md-6 full-width">
			<div class="card">
				<div class="card-header text-center gold-bg-black-text">
					<h4>Přihlášení</h4>
				</div>
				<div class="card-body">
					<form
						method="POST"
						action="{{ url_for('login') }}"
						onsubmit="return validateLoginForm()"
					>
						<div class="mb-3">
							<label for="username" class="form-label">Uživatelské jméno</label>
							<input
								type="text"
								class="form-control"
								id="username"
								name="username"
								required
							/>
							<div id="usernameError" class="text-danger"></div>
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Heslo</label>
							<input
								type="password"
								class="form-control"
								id="password"
								name="password"
								required
							/>
							<div id="passwordError" class="text-danger"></div>
						</div>
						<div class="d-grid">
							<button type="submit" class="btn btn-dark">Přihlásit se</button>
						</div>
						<!-- add error message from flash-->
						{% with messages = get_flashed_messages() %} {% if messages %}
						<div class="alert alert-danger mt-3" role="alert">
							{{ messages[0] }}
						</div>
						{% endif %} {% endwith %}
					</form>
					<!-- add "Or" line-through -->
					<div class="text-center my-3">
						<span class="inline-block-relative">
							<hr class="line-through" />
							<span class="background-white-offset">nebo</span>
						</span>
					</div>
					<!-- add login by google button -->
					<div class="d-grid mt-3">
						<a href="{{ url_for('login_google') }}" class="btn btn-danger">
							<i class="bi bi-google"></i> Přihlásit se pomocí Google
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{{	url_for('static', filename='js/login.js')}}"></script>
{% endblock %}
