{% extends "base.html" %} {% block title %}Přihlášení{% endblock %} {% block
content %}
<div
	class="container d-flex justify-content-center align-items-center full-height"
>
	<div class="row justify-content-center">
		<div class="col-md-6" style="width: 100%">
			<div class="card">
				<div
					class="card-header text-center"
					style="background-color: var(--gold-color); color: var(--black-color)"
				>
					<h4>Přihlášení</h4>
				</div>
				<div class="card-body">
					<form
						method="post"
						action="{{ url_for('login') }}"
						onsubmit="return validateLoginForm()"
					>
						<div class="mb-3">
							<label for="username" class="form-label">Uživatelské jméno</label>
							<input
								type="text"
								class="form-control"
								id="username"
								name="username"
								required
							/>
							<div id="usernameError" class="text-danger"></div>
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Heslo</label>
							<input
								type="password"
								class="form-control"
								id="password"
								name="password"
								required
							/>
							<div id="passwordError" class="text-danger"></div>
						</div>
						<div class="d-grid">
							<button type="submit" class="btn btn-dark">Přihlásit se</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function validateLoginForm() {
		let isValid = true;

		const username = document.getElementById("username").value;
		const password = document.getElementById("password").value;

		document.getElementById("usernameError").textContent = "";
		document.getElementById("passwordError").textContent = "";

		if (!username) {
			document.getElementById("usernameError").textContent =
				"Uživatelské jméno je povinné.";
			isValid = false;
		}
		if (!password) {
			document.getElementById("passwordError").textContent =
				"Heslo je povinné.";
			isValid = false;
		}

		return isValid;
	}
</script>
{% endblock %}
