<div class="recipe-card w-100 mb-4">
	<a
		href="/recipe/{{ recipe.id }}"
		class="d-flex flex-column text-decoration-none"
	>
		<img
			src="{{ recipe.image }}"
			class="recipe-card-img-top w-100"
			alt="{{ recipe.name }}"
		/>
		<div class="recipe-card-body p-3">
			<h5 class="recipe-card-title">{{ recipe.name }}</h5>
		</div>
	</a>
</div>

<style>
	.recipe-card {
		border-radius: 8px; /* Round the corners a bit */
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Make shadow more pronounced */
		overflow: hidden; /* Ensure content stays within rounded corners */
	}
	.recipe-card-img-top {
		height: 15rem; /* Set the fixed height for the image */
		object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
	}
	.recipe-card-title {
		font-weight: bold;
		color: var(--dark-color); /* Use the dark color variable */
	}
</style>
