{% extends "base.html" %} {% block title %}Registrace{% endblock %} {% block
content %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/register.css') }}"
/>
<div
	class="container d-flex justify-content-center align-items-center full-height"
>
	<div class="row justify-content-center">
		<div class="col-md-6 w-100">
			<div class="card">
				<div class="card-header text-center card-header-custom">
					<h4>Registrace</h4>
				</div>
				<div class="card-body">
					<form
						method="post"
						action="{{ url_for('register') }}"
						onsubmit="return validateForm()"
					>
						<div class="mb-3">
							<label for="username" class="form-label">Uživatelské jméno</label>
							<input
								type="text"
								class="form-control"
								id="username"
								name="username"
								required
							/>
							<div id="usernameError" class="text-danger"></div>
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Email</label>
							<input
								type="email"
								class="form-control"
								id="email"
								name="email"
								required
							/>
							<div id="emailError" class="text-danger"></div>
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Heslo</label>
							<input
								type="password"
								class="form-control"
								id="password"
								name="password"
								required
							/>
							<div id="passwordError" class="text-danger"></div>
						</div>
						<div class="mb-3">
							<label for="confirm_password" class="form-label"
								>Zopakujte heslo</label
							>
							<input
								type="password"
								class="form-control"
								id="confirm_password"
								name="confirm_password"
								required
							/>
							<div id="confirmPasswordError" class="text-danger"></div>
						</div>
						<div class="d-grid">
							<button type="submit" class="btn btn-dark">Registrovat se</button>
						</div>
						{% with messages = get_flashed_messages() %} {% if messages %}
						<div class="alert alert-danger mt-3" role="alert">
							{{ messages[0] }}
						</div>
						{% endif %} {% endwith %}
					</form>
					<div class="text-center my-3">
						<span class="divider-container">
							<hr class="divider-line" />
							<span class="divider-text">nebo</span>
						</span>
					</div>
					<div class="d-grid mt-3">
						<a href="{{ url_for('login_google') }}" class="btn btn-danger">
							<i class="bi bi-google"></i> Přihlásit se pomocí Google
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{{	url_for('static', filename='js/register.js')}}"></script>
{% endblock %}
